
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Machine Learning Card Fraud API</title>
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

</head>

<body>
  <h1>Welcome to the Machine Learning Card Fraud API</h1>
  <h2>Get Fraud Prediction:</h2>
  <br>
  <h3>HTTP Method: /predict (GET Request)</h3>
  <h3>Content Type: application/json </h3>
  <h3>Returns: JSON Object with fraud prediction for fraud class </h3>


</body>
</html>